{{- $proxy := deepCopy .Values.cluster.proxy |  mustMerge .Values.proxy -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ tpl .Values.resource.default.name  . }}
  namespace: {{ tpl .Values.resource.default.namespace . }}
  labels:
    {{- include "chart-operator.labels" . | nindent 4 }}
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "chart-operator.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        app.giantswarm.io/config-checksum: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum | quote }}
      labels:
        {{- include "chart-operator.labels" . | nindent 8 }}
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: role
                operator: In
                values:
                {{- if ge (int .Capabilities.KubeVersion.Minor) 24 }}
                - control-plane
                {{- else }}
                - master
                {{- end }}
      volumes:
      {{- if .Values.volumes.tmp.enabled }}
      - name: tmp
        emptyDir:
          sizeLimit: "{{ .Values.volumes.tmp.sizeLimit }}"
      {{- end }}
      - name:  {{ tpl .Values.resource.default.name  . }}-configmap
        configMap:
          name: {{ tpl .Values.resource.default.name  . }}
          items:
          - key: config.yaml
            path: config.yaml
      priorityClassName: giantswarm-critical
      serviceAccountName: {{ tpl .Values.resource.default.name  . }}
      securityContext:
        runAsUser: {{ .Values.pod.user.id }}
        runAsGroup: {{ .Values.pod.group.id }}
        {{- with .Values.podSecurityContext }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      {{- if .Values.bootstrapMode.enabled }}
      {{- if ge (int .Capabilities.KubeVersion.Minor) 24 }}
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      {{- else }}
      nodeSelector:
        node-role.kubernetes.io/master: ""
      {{- end }}
      {{- end }}
      {{- if or .Values.chartOperator.cni.install .Values.bootstrapMode.enabled }}
      hostNetwork: true
      tolerations:
      - key: node.kubernetes.io/not-ready
        effect: NoSchedule
        operator: Exists
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      - key: node.cloudprovider.kubernetes.io/uninitialized
        effect: NoSchedule
      - key: node.cluster.x-k8s.io/uninitialized
        effect: NoSchedule
      {{- else }}
      tolerations:
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      {{- end }}
      {{- if eq .Values.externalDNSIP "" }}
      dnsPolicy: Default
      {{- else if .Values.isManagementCluster }}
      dnsPolicy: ClusterFirst
      {{- else }}
      dnsPolicy: None
      dnsConfig:
        nameservers:
        - {{ .Values.clusterDNSIP }}
        {{- range (splitList "," .Values.externalDNSIP) }}
        - {{ . }}
        {{- end }}
        searches:
        - giantswarm.svc.{{ .Values.cluster.kubernetes.domain }}
        - svc.{{ .Values.cluster.kubernetes.domain }}
        - {{ .Values.cluster.kubernetes.domain }}
        options:
        - name: ndots
          value: "5"
      initContainers:
      - name: wait-for-quay
        image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ include "image.tag" . }}"
        command:
        - sh
        - -c
        - until dig {{ .Values.image.registry }}. {{ range (splitList "," .Values.externalDNSIP) }}@{{ . }} {{ end }}; do echo waiting for {{ .Values.image.registry }}; sleep 2; done;
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        securityContext:
          runAsUser: {{ .Values.pod.user.id }}
          runAsGroup: {{ .Values.pod.group.id }}
          {{- with .Values.securityContext }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}
        {{- if or (and $proxy.http $proxy.https $proxy.noProxy ) .Values.bootstrapMode.enabled }}
        env:
        {{- if .Values.bootstrapMode.enabled }}
        - name: KUBERNETES_SERVICE_HOST
          value: 127.0.0.1
        - name: KUBERNETES_SERVICE_PORT
          value: {{ .Values.bootstrapMode.apiServerPodPort | quote }}
        {{- end }}
        {{- if and $proxy.noProxy $proxy.http $proxy.https }}
        - name: NO_PROXY
          value: {{ $proxy.noProxy }}
        - name: no_proxy
          value: {{ $proxy.noProxy }}
        - name: HTTP_PROXY
          value: {{ $proxy.http }}
        - name: http_proxy
          value: {{ $proxy.http }}
        - name: HTTPS_PROXY
          value: {{ $proxy.https }}
        - name: https_proxy
          value: {{ $proxy.https }}
        {{- end }}
        {{- end }}
        {{- if .Values.isManagementCluster }}
        image: "{{ .Values.registry.domain }}/{{ .Values.image.name }}:{{ include "image.tag" . }}"
        {{- else }}
        image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ include "image.tag" . }}"
        {{- end }}
        volumeMounts:
        {{- if .Values.volumes.tmp.enabled }}
        - name: tmp
          mountPath: "/tmp"
        {{- end }}
        - name: {{ tpl .Values.resource.default.name  . }}-configmap
          mountPath: /var/run/{{ .Chart.Name }}/configmap/
        ports:
        - name: http
          containerPort: {{ .Values.pod.port }}
        args:
        - daemon
        - --config.dirs=/var/run/{{ .Chart.Name }}/configmap/
        - --config.files=config
        securityContext:
          runAsUser: {{ .Values.pod.user.id }}
          runAsGroup: {{ .Values.pod.group.id }}
          {{- with .Values.securityContext }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.pod.port }}
          initialDelaySeconds: 15
          timeoutSeconds: 1
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.pod.port }}
          initialDelaySeconds: 15
          timeoutSeconds: 1
        resources:
          requests:
            {{- .Values.deployment.requests | toYaml | nindent 12 }}
          limits:
            {{- .Values.deployment.limits | toYaml | nindent 12 }}
