{{- if or .Values.e2e (not (lookup "scheduling.k8s.io/v1" "PriorityClass" "" "giantswarm-critical")) }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: giantswarm-critical
  labels:
    {{- include "chart-operator.labels" . | nindent 4 }}
value: 1000000000
globalDefault: false
description: "This priority class is used by giantswarm kubernetes components."
{{- end }}
