apiVersion: v1
kind: Service
metadata:
  name: {{ tpl .Values.resource.default.name  . }}
  namespace: {{ tpl .Values.resource.default.namespace . }}
  labels:
    {{- include "chart-operator.labels" . | nindent 4 }}
    giantswarm.io/monitoring: "true"
  annotations:
    prometheus.io/scrape: "true"
spec:
  ports:
  - port: {{ .Values.pod.port }}
  selector:
    {{- include "chart-operator.selectorLabels" . | nindent 4 }}
