e2eTest: &e2eTest
    machine: true
    working_directory: /home/circleci/.go_workspace/src/github.com/giantswarm/chart-operator
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run:
        name: Get e2ectl binary
        command: |
          wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2ectl/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
          chmod +x ./e2ectl

    - run:
        name: Init cluster
        command: |
          ./e2ectl cluster create
          cp $(./e2ectl kubeconfig path) ${E2E_TEST_DIR}/kubeconfig

    - run:
        name: Run test
        command: |
          docker run --rm --network host \
            -v $(pwd)/${E2E_TEST_DIR}:/e2e \
            -v $(pwd):/go/src/github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME} \
            -e E2E_KUBECONFIG=/e2e/kubeconfig \
            -e CIRCLE_SHA1=${CIRCLE_SHA1} \
            -e GITHUB_BOT_TOKEN=${GITHUB_BOT_TOKEN} \
            -e E2E_TESTED_VERSION=${E2E_TESTED_VERSION} \
            -w /go/src/github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME} \
            golang:1 go test -v -tags k8srequired ./${E2E_TEST_DIR}/

    - run:
        name: Export logs
        command: |
          ./e2ectl logs export --logs-dir=kind/logs
        when: always

    - store_artifacts:
        path: kind/logs
        destination: logs

    - run:
        name: Finish with cleanup, no matter if the test succeeded or not
        command: ./e2ectl cluster delete
        when: always

version: 2.1
orbs:
  architect: giantswarm/architect@0.4.3

jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./architect
        ./architect version
    - run: ./architect build
    - store_test_results:
        path: /tmp/results
    - run: ./architect publish --pipeline=false --channels=${CIRCLE_SHA1}
    - run: |
        sed -i 's/version:.*/version: 1.0.0-'"${CIRCLE_SHA1}"'/' helm/chart-operator-chart/Chart.yaml
        ./architect publish --pipeline=false --channels=${CIRCLE_SHA1}
    - persist_to_workspace:
        root: .
        paths:
        - ./chart-operator
        - ./architect

  e2eTestChartBasicPR:
    environment:
      E2E_TEST_DIR: "integration/test/chart/basic"
    <<: *e2eTest
  
  e2eTestChartBasicMaster:
    environment:
      E2E_TEST_DIR: "integration/test/chart/basic"
    <<: *e2eTest

  e2eTestChartConfigCurBasicPR:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/basic"
      E2E_TESTED_VERSION: "current"
    <<: *e2eTest

  e2eTestChartConfigCurBasicMaster:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/basic"
      E2E_TESTED_VERSION: "current"
    <<: *e2eTest

  e2eTestChartConfigWIPBasicPR:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/basic"
      E2E_TESTED_VERSION: "wip"
    <<: *e2eTest

  e2eTestChartConfigWIPBasicMaster:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/basic"
      E2E_TESTED_VERSION: "wip"
    <<: *e2eTest

  e2eTestChartConfigCurChartValuesPR:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/chartvalues"
      E2E_TESTED_VERSION: "current"
    <<: *e2eTest

  e2eTestChartConfigCurChartValuesMaster:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/chartvalues"
      E2E_TESTED_VERSION: "current"
    <<: *e2eTest

  e2eTestChartConfigWIPChartValuesPR:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/chartvalues"
      E2E_TESTED_VERSION: "wip"
    <<: *e2eTest

  e2eTestChartConfigWIPChartValuesMaster:
    environment:
      E2E_TEST_DIR: "integration/test/chartconfig/chartvalues"
      E2E_TESTED_VERSION: "wip"
    <<: *e2eTest

  deploy:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: ./architect deploy

    - run:
        name: publish to beta
        command: ./architect publish
    - run: |
        sed -i 's/version:.*/version: 1.0.0-'"${CIRCLE_SHA1}"'/' helm/chart-operator-chart/Chart.yaml
        ./architect publish

  publish_to_stable:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: ./architect publish --stable

workflows:
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-chart-operator-to-quay
          image: "quay.io/giantswarm/chart-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-chart-operator-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/chart-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-chart-operator-to-app-catalog
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "chart-operator"
          requires:
            - push-chart-operator-to-quay
            - push-chart-operator-to-aliyun
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - e2eTestChartBasicPR:
          requires:
          - build

      - e2eTestChartBasicMaster:
          filters:
            branches:
              only: master
          requires:
          - build

      - e2eTestChartConfigCurBasicPR:
          requires:
          - build

      - e2eTestChartConfigCurBasicMaster:
          filters:
            branches:
              only: master
          requires:
          - build

      - e2eTestChartConfigWIPBasicPR:
          requires:
          - build

      - e2eTestChartConfigWIPBasicMaster:
          filters:
            branches:
              only: master
          requires:
          - build

      - e2eTestChartConfigCurChartValuesPR:
          requires:
          - build

      - e2eTestChartConfigCurChartValuesMaster:
          filters:
            branches:
              only: master
          requires:
          - build

      - e2eTestChartConfigWIPChartValuesPR:
          requires:
          - build

      - e2eTestChartConfigWIPChartValuesMaster:
          filters:
            branches:
              only: master
          requires:
          - build

      - deploy:
          filters:
            branches:
              only: master
          requires:
          - e2eTestChartBasicMaster
          - e2eTestChartConfigCurBasicMaster
          - e2eTestChartConfigWIPBasicMaster
          - e2eTestChartConfigCurChartValuesMaster
          - e2eTestChartConfigWIPChartValuesMaster

      - publish_to_stable:
          filters:
            branches:
              only: master
          requires:
          - deploy
