version: 2.1
orbs:
  architect: giantswarm/architect@6.8.0

workflows:
  build:
    jobs:
    - architect/go-build:
        context: architect
        name: go-build
        binary: chart-operator
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-cp-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: chart-operator
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-default-app-catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        chart: chart-operator
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/integration-test:
        context: architect
        name: basic-integration-test
        setup-script: integration/setup/setup.sh
        test-dir: integration/test/chart/basic
        requires:
        - go-build
        - push-to-default-app-catalog
